<!--<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="../main.css">
</head>
<body ng-app="blocChatEe" ng-controller="ModalCtrl"> --><!--is this ng-controller declaration necessary given the almost identical one below?
C says this is not necessary because all this info is coming from index.html-->

  <section><!--chat room list sidebar-->
 <h1>{{greeting}}</h1>
    <h4>Chat Room List</h4>
 <ul>
  <li class="single-chat-room" ng-repeat="room in home.rooms">
 <!--chat rooms are list items; ng-repeat iterates over the list until all items are enumerated-->
    <button type="button" class="btn btn-default room-list" ng-click="home.setCurrentRoom(room)">
      <span>{{room.$value}}</span></button><!--$value = property of room; we're only displaying the value instead of all properties-->
  </li>
</ul>
  <div ng-controller='ModalCtrl as modals'><!--****just this portion of the code
    will be controlled by the ModalCtrl controller*********-->
        <button type="button" class="btn btn-default" ng-click="modals.open()">New room</button><!--using 'modals' alias here as we just defined above-->
  </div>
</section>
  <!--'modals' is what we just named our controller, so we open it with 'modals.open()'-->

<main class="message-container">
  <h2>{{home.currentRoom.$value}}</h2><!--displays current room-->
  <h4>Welcome, {{home.userName}}</h4>
  <!--home.userName in a h2 or h3 to display un-->
  <div class="msg-content" ng-repeat="message in home.messages">
    <!--ng-repeat shows 3 message placeholders atm-->
    <h5>{{message.username}}</h5>
    <p>{{message.content}}</p>
    <p>{{message.sentAt}}</p><!--also style -->
  </div>
  <div class="msg-input" ><!--New Message input--><!--See Alicea angular course s4 l18 re: two-way binding...maybe I can declare a ng-model here and interpolate?? probably not because writing to firebase isn't the same as writing to the template.-->
    <form ng-submit="home.sendMessage(newMessage)">
      <label for="msg-input">Your message here</label>
      <textarea rows="8" cols="20" name="newMessage" ng-model="newMessage" ></textarea><br />
      <input type="submit" value="Post!" >
      <!--this one would be 'send' because we're sending to the service, which will then 'push' to fb array-->
    </form>
  </div>

</main>
<!--</body>-->
