<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="../main.css">
</head>
<body ng-app="blocChatEe" ng-controller="ModalCtrl">
  <section>
 <h1>{{greeting}}</h1>
    <h4>Chat Room List</h4>
 <ul>
  <li class="single-chat-room" ng-repeat="room in home.rooms">
    <span>{{room.$value}}</span><!--$value = property of room; we're only displaying the value instead of all properties-->
  </li>
</ul>
  <div ng-controller='ModalCtrl as modals'><!--****just this portion of the code
    will be controlled by the ModalCtrl controller*********-->
        <button type="button" class="btn btn-default" ng-click="modals.open()">New room</button><!--using 'modals' alias here as we just defined above-->
  </div>
</section>
  <!--'modals' is what we just named our controller, so we open it with 'modals.open()'-->

<main>
  <h2>{{activeRoom}}</h2>
  <div class="msg-container">
    <h5>***Username***</h5>
    <p>***message text***</p>
  </div>
</main>
</body>
