<!--per https://angular-ui.github.io/bootstrap/, this
template is for the modal window in checkpoint 3
(Creating new chat rooms).
**All we're doing is adding "modal-" classes to our html-->
<div>
    <div class="modal-header"><!--just a div with a class-->
        <h2 class="modal-title">Modal Title</h2><!--header with a class-->
    </div>
    <div class="modal-body">
        <p>This is a modal body.</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="modalInstance.cancel()">Close</button>
    </div>
</div>
