<!--per https://angular-ui.github.io/bootstrap/, this
template is for the modal window in checkpoint 3
(Creating new chat rooms).
**All we're doing is adding "modal-" classes to our html-->
<div>
    <div class="modal-header"><!--just a div with a class-->
        <h2 class="modal-title">Modal Title</h2><!--header with a class-->
    </div>
    <div class="modal-body">

 <p>New chat room</p>
        <form name="add-username" ng-submit="modalInstance.ok()">
            <input class="form-control" ng-model="modalInstance.room" title="room" placeholder="What shall we call you?" autofocus />
            <!--<h3>{{modalInstance.room}}</h3>-->
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="modalInstance.ok()">Set Username</button>

    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="modalInstance.cancel()">Close</button>
    </div>
</div>
